$white: #fff;

$black: #000;
$black1: #272733;
$black2: #2a2b30;
$black3: #3c4050;

$blue: #42a9ed;
$blue1: #43abf0;
$blue2: #3e9cdc;
$blue3: #276590;
$blue4: #3d9bdb;

$gray: #6f6d7b;
$gray1: #bbb;
$gray2: #dfdfe1;
$gray3: #c3c3c3;
$gray4: #c2c2c2;
$gray5: #3d3f4f;
$gray6: #bfbfc2;

$containerWidth: 1200px; 

$regular: 400;
$semibold: 600;
$bold: 700;
$heavy: 800;

$tablet: 979px;

$mobile: 479px;